.toolkit-container {
  height: auto;
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
}

.sign-message {
  margin: 10px;
}

.message-field {
  width: 100%;
  margin: 10px 0;
}

.signed-result {
  white-space: pre-wrap;
  word-wrap: break-word;
}
