<div class="ollama-container">

@if (!isNatsConnected) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>No Connected</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>To establish a NATS connection, you need to sign a certificate with your wallet.</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="signUserJWT()">Sign Token</button>
    </mat-card-actions>
  </mat-card>
} @else {
  <p>Ollama Chat (Version: {{ ver | async }})</p>
  <mat-form-field appearance="outline">
    <mat-label>Select Model</mat-label>
    <mat-select [(value)]="selectedModel">
    @for (model of models | async; track model) {
      <mat-option [value]="model">{{ model.name }}</mat-option>
    }
    </mat-select>
  </mat-form-field>

  <!-- TODO: Generate Chat Component -->
  @if (question != undefined) {
    <mat-card appearance="outlined">
      <mat-card-content class="chat-container">
        <div class="chat-message right">
          <pre class="question">{{ question }}</pre>
        </div>
      
      @if (answer != undefined) {
        <div class="chat-message left">
          <pre class="answer">{{ answer }}</pre>
        </div>
      }
      </mat-card-content>
      <mat-card-footer>
      @if (loading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
      </mat-card-footer>
    </mat-card>
  }

  <div class="message-container">
    <mat-form-field class="msg-form-field" appearance="outline">
      <mat-label>Message</mat-label>
      <input #msg matInput type="text" (keyup.enter)="sendMsg(msg)">
    @if (msg.value) {
      <button matSuffix mat-icon-button (click)="sendMsg(msg)">
        <mat-icon>send</mat-icon>
      </button>
    }
    </mat-form-field>
  </div>
}
</div>
