.game-container {
  height: auto;
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
}

.rtt-report {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
}

.video-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
