<div class="edge-container">

@if (!isNatsConnected) {
  <mat-card class="edge-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>No Connected</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>To establish a NATS connection, you need to sign a certificate with your wallet.</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="signUserJWT()">Sign Token</button>
    </mat-card-actions>
  </mat-card>
} @else {
  <mat-card class="edge-card" appearance="outlined">
    <mat-card-header>
      NATS Connected
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button (click)="signUserJWT()">Refresh Token</button>
    </mat-card-actions>
  </mat-card>

  @for (edge of edges | async; track edge) {
  <mat-card class="edge-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ edge.edge?.name }}</mat-card-title>
      <mat-card-subtitle>{{ edge.id }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <pre>{{ edge.edge | json }}</pre>
    </mat-card-content>
  </mat-card>
  }
}
</div>
