<div class="edge-connected">

@if (!isNatsConnected) {
  <mat-card class="edge-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>No Connected</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>To establish a NATS connection, you need to sign a certificate with your wallet.</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="signUserJWT()">Sign Token</button>
    </mat-card-actions>
  </mat-card>
} @else {
  <mat-card class="edge-card" appearance="outlined">
    <mat-card-header>
      Ollama Chat (Version: {{ ver | async }})
    </mat-card-header>
    <mat-card-content>
      <pre style="white-space: pre-wrap;">{{ chats | async }}</pre>
    </mat-card-content>
    <mat-card-actions align="end">
      <mat-form-field class="msg-form-field">
        <mat-label>Message</mat-label>
        <input #msg matInput type="text" (keyup.enter)="sendMsg(msg)">
      @if (msg.value) {
        <button matSuffix mat-icon-button (click)="sendMsg(msg)">
          <mat-icon>send</mat-icon>
        </button>
      }
      </mat-form-field>
    </mat-card-actions>
    <mat-card-footer>
    @if (loading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    </mat-card-footer>
  </mat-card>
}
</div>
