@use '@angular/material' as mat;

#toolbar {
  @include mat.elevation(6, 'red');
}

#menu-sidenav {
  width: 300px;
  padding: 10px 10px 10px 10px;
}

.spacer {
  flex: 1 1 auto;
}

.span-title {
  color: red;
  font-weight: bold;
}

.sign-message {
  margin: 25px;
}

.overlay-container {
  position: absolute;
  bottom: 20px;
  left: 45%;
  transform: translateX(-45%);
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 10px;
}
